nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  nav li {
    float: right;
  }
  
  nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    
  }
  
  nav li a:hover:not(.active) {
    text-decoration: none;
    color:blue
  }
  
.active {
    color:darkred;
  }
  body{
    background-color:white;
  }
  h1{
    color:chocolate;
    text-align:center;
  }
  body{
    background-color:black;
  }
  *{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing:border-box;
  }
  .container{
    width:100%;
    height:80vh;
    display:flex;
    align-items:center;
    justify-content: center;
  }
  .skills h2{
    font-weight:400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color:white;
    font-size:16px;
  }
  .progress_bar{
    background-color: #959595;;
    width:600px;
    height:10px;
    border-radius: 5px;
  }
  .progress_bar div{
    height:10px;
    border-radius:5px;
    width:0%;
    
  }
  .progress_bar div span{
    height:40px;
    width:40px;
    border-radius:50%;
    background-color:white;
    float:right;
    margin-top: -15px;
    margin-right: -15px;
    color:#333;
    display:flex;
    align-items:center;
    justify-content: center;


  }
  .HTML{
    background-color: red;
    animation:HTML 1s linear forwards;
  }
  .JAVA{
    background-color: green;
    animation:JAVA 1s linear forwards;
  }
  .PYTHON{
    background-color:yellow;
    animation:PYTHON 1s linear forwards;
  }
  .DATAPREPROCESSING{
    background-color: brown;
    animation:DATAPREPROCESSING 1s linear forwards;
  }
  .DATAVISUALIZATION{
    background-color: blue;
    animation:DATAVISUALIZATION 1s linear forwards;
  }
  .HTML span{
    border:1px solid yellow;
  }
  .JAVA span{
    border:1px solid red;
  }
  .PYTHON span{
    border:1px solid green;;
  }
  .DATAPREPROCESSING span{
    border:1px solid blue;
  }
  .DATAVISUALIZATION span{
    border:1px solid red;
  }
  @keyframes HTML {
    100%{
        width:70%;
    }
    
  }@keyframes JAVA {
    100%{
        width:80%;
    }
    
  }
  @keyframes PYTHON {
    100%{
        width:70%;
    }
    
  }
  @keyframes DATAPREPROCESSING {
    100%{
        width:80%;
    }
    
  }
  @keyframes DATAVISUALIZATION {
    100%{
        width:85%;
    }
    
  }

  

  
  